body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: #b9c6ae;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #13293d;
    color: #b9c6ae;
    
  }
  
  h1 {
    font-size: 200%;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 150%;
  }
  
  nav {
    display: flex;
    background-color: #d8a47f;
    display: flex;
    justify-content: flex-end;
  
  }
  
  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    justify-content: right;
    justify-content: fle;
  
  }
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
    flex-wrap: wrap;
  }

  .contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

 .card-icon{
  font-size: 28px;
  background: #d8a47f;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
 }



  section {
    flex: 1 1 0;
    padding-right: 5%;
  }
  
  article {
    border-bottom: 1px solid #13293d;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  article p {
    margin: 2% 0;
    font-size: 110%;
  }
  
  article ul {
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 110%;
    list-style: circle;
  
  }

  .products {
    flex: 4;
    background-color: #b9c6ae;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    border-radius: 20px;
    color: #13293d;
    background-color: #d8a47f;
    box-shadow: #13293d;
    transform: rotate(8deg);
  
  }


.card header {
  padding: 20px;
}

.card p {
  text-align: center;
  border-radius: 20px;
}

.card img {
  width: 100%;
}

  .one {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 900;
    font-style: oblique;
  }
  
  .two {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .three {
    font-family: 'Menlo', 'Lucida Console', monospace;
    font-weight: 100;
    font-style: normal;
  }
  
  .four {
    font-family: serif;
    font-weight: 100;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
  }
  
  aside {
    width: 25%;
  }
  
  aside h2 {
    font-size: 150%;
  }
  
  input,
  button {
    width: 100%;
    margin: 2% 0;
    padding: 1%;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    color: #b9c6ae;
    background-color: #13293d;
  }
    
    @media screen and (max-width: 760px) {
      .contact-info{
        flex-direction: column;
      }
    }
  
    @media screen and (max-width: 992px) {
      .card {
        width: 50%;
      }
    }
    @media screen and (max-width: 768px) {
      main,
      nav,
      .product {
        flex-direction: column;
      }

      .card {
        display: none;
        align-items: center;
      }

  
    }
